header{
    background-color: #5b7989;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body{
  margin:0;
  font-family: "Dancing Script", cursive;
  font-size: 2m}

h1{
  font-align: left;
  color:white;
  text-shadow: 1px 2px #02010a;
}

ul{
  list-style: none;
  font-size: 1m;
}

li{
  float: left;
}
a.item{
  color:white
}
